<%= render partial: 'spree/shared/error_messages', locals: { target: @producer } %>
<div class="form-group">

  <%= f.field_container :code do %>
    <%= f.label :code %>
    <%= f.text_field :code, class: 'form-control' %>
  <% end %>

  <%= f.field_container :first_name do %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  <% end %>

  <%= f.field_container :last_name do %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  <% end %>

  <%= f.field_container :email do %>
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  <% end %>

  <%= f.field_container :active do %>
    <%= f.label :active %>
    <%= f.check_box :active, class: 'form-control' %>
  <% end %>
</div>
